@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

.brand-link {
    font-family: 'Lato', 'Bai Jamjuree';
    font-size: 26px;
    text-align: center;
}

.ew-aggregate::after {
  content: none;
}
.ew-table-footer > td {
  text-align: right;
}

/* ทำให้ปุ่ม paging สั้นกระชับในมือถือ */
@media (min-width: 576px) {
  input[type=text]:not([size]):not([name=pageno]):not(.cke_dialog_ui_input_text):not(.form-control-plaintext), input[type=password]:not([size]) {
    min-width: unset !important;
  }
}
.ew-rec, .ew-pager > span {
  display: none;
}
.ew-prev-next .input-group-sm > .btn {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
input.ew-page-no {
  width: 30px !important;
}

/* ในหน้าจอมือถือ จัดระยะเมื่อปุ่มขึ้นบรรทัดใหม่ */
.ew-grid-upper-panel, .ew-grid-lower-panel {
  padding: 0px !important;
}
.ew-pager-form, .ew-list-other-options, .ew-add-edit-option, .ew-detail-option, .ew-action-option {
  margin: 5px;
}

/* แก้ฟอนต์ใน select2 ให้เอาของ project มาใช้ */
.select2-container .select2-search--inline .select2-search__field {
    font-family: unset;
}

.alert a {
  color: unset;
}

/*BEGIN_PROJECT_STYLES*/

/*END_PROJECT_STYLES*/